.detail-artist-name {
    font-family: 'Zen Dots', cursive;
    color: #3f3f3f;
    font-size: 1.3rem;
}

.related-title {
    font-family: 'Zen Dots', cursive;
    color: #3f3f3f;
    font-size: 1.3rem;
}