/* //     *****     Chad[well] Clark 2021     *****     // */

.well_owner {
    font-family: 'Zen Dots', cursive;
    color: #3f3f3f;
    font-size: 1.5rem;
    font-weight: 500;
    margin: .5rem;
    padding: .3rem;
    border-radius: 10px;
    background: #f19a3e9c;
    box-shadow: rgba(17, 17, 26, 0.15) 1px 1px 1px, rgba(17, 17, 26, 0.15) 1px 1px 8px;

}

.appview-overflow {
    overflow: auto;
}

.dry-well-title {
font-family: 'Zen Dots', cursive;
font-weight: 500;
    color: #3f3f3f;
    font-size: 2rem;
    margin: 2.5rem;
    padding: .3rem;
}
.dry-well {
    font-family: 'Zen Dots', cursive;
    font-weight: 500;
    color: #3f3f3f;
    font-size: 1.5rem;
    margin: 2rem;
    padding: .3rem;
}