.nav {
    /* display: flex;
    justify-content: space-around; */
    color:#3f3f3f;
    font-family: 'Zen Dots', cursive;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    position:sticky;
    top: 0;
    padding: 1rem;
    background: #E1e6f4;
    overflow:hidden;
    
}
.nav_title {
    font-size: 2.6rem;
    font-weight:900;
    letter-spacing: .2rem; 
}
.nav-title:hover {
    transform: scale(1.2)
}
.nav_item {
    /* border: 1px solid black; */
    text-decoration: none;
}
.nav_item:link {
  color:#3f3f3f;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-decoration: none;
}
.nav_item:visited {
  color: #3f3f3f;
}
.nav_item:hover {
    color: #9b4646;
    transform: scale(1.2);
}
.nav_item:active {
  color: teal;
}
.logout {
    font-size: 1.3rem ;
}
.logo {
    width: 50%;
    height: auto;
}
