/* //     *****     Chad[well] Clark 2021     *****     // */

.search-side {
    
}
.searchLabel {
    font-family: 'Zen Dots', cursive;
    color: #3f3f3f;
    font-weight: 500;
    margin: 1rem;
    font-size: 1.5rem;
}
.searchInput {
padding: .3rem;
font-size: 1.1rem;
}

.Btn {
    border-radius: 6px;
    padding: .5rem;
    margin: 1rem;
    font-size: 1rem;
}
.jazzStory {
    padding: .6rem;
    font-size: 1.2rem;
}

.empty-search {
    font-family: 'Zen Dots', cursive;
    color: #3f3f3f;
    font-weight: 500;
    margin: 3rem 1rem;
    font-size: 1.7rem;
}