/* //     *****     Chad[well] Clark 2021     *****     // */
* {

    /* border: solid 1px black; */
}

/* .container--login {

    display: grid;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
} */

.container--login {

    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}


/* .login-centered {
   margin: 0 auto
    
} */
.dialog {
    /* background: #e1e6f4db;
    border-radius: 8px;
    position:absolute; */
    background: #e1e6f490;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 9.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    left:37%;
    top: 15%;
}

.dialog-inner {
    margin: 4rem;
}
.login-title {
    font-family: 'Zen Dots', cursive;
    margin-top: 3rem;
    text-align: center;  
}

.login-card {
    margin: .4rem;
    padding: .4rem;
    border-radius: 10px;
    background: #e1e6f4b8;
    box-shadow: rgba(17, 17, 26, 0.15) 1px 1px 1px, rgba(17, 17, 26, 0.15) 1px 1px 8px;
}
.form-control {
    border-radius: 6px;
}
.login-div {
    align-items: center;
    margin: .4rem;
    padding: .4rem;
}

.form-control {
    font-size: 1.1rem;
    padding: .4rem;
}
.login-font-weight{
    font-weight: 700;
}
.login-btn {
    width: 30%;
    
    font-size: 1.1rem;
    padding: .3rem .4rem;
    font-weight: 600;
    background: #729b79bd;
    border-radius: 6px;
    
}

